<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li *ngFor="let article of articlesNotes" class="timeline-inverted">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{article.titre}}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{article.date}}</small></p>
        </div>
        <div *ngIf="article.url"class="timeline-body">
          <a href="{{article.url}}">{{article.texte}}</a>
        </div>
        <div *ngIf="!article.url"class="timeline-body">
          <p>{{article.texte}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
