<md-grid-list cols="5" rowHeight="fit" class= "head" >
  <md-grid-tile class="pink"
                [colspan]="1"
                [style.background]="black">
    <img class ="logo" src="images/logoo.jpg">

  </md-grid-tile>
  <md-grid-tile class="red"
                [colspan]="3"
                [style.background]="red">

  </md-grid-tile>
  <md-grid-tile class="blue"
                [colspan]="1"
                [style.background]="red">

    <a routerLink="/accueil" routerLinkActive="active">
      <md-icon>home</md-icon>
    </a>
    <a onclick="document.getElementById('modal-login').style.display='block'" class="btnlogin">
      <md-icon>lock_outline</md-icon>
    </a>

    <div class="form-group">
      <input type="search" class="input-sm form-control" placeholder="Recherche">
      <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
    </div>
  </md-grid-tile>
</md-grid-list>
<md-toolbar class="menu">
  <div>
    <button class="menu-button" md-raised-button>Droit TV</button>
    <button class="menu-button" md-raised-button>Programmes</button>
    <button class="menu-button" md-raised-button>Médias français</button>
    <button class="menu-button" md-raised-button>Médias étrangers</button>
    <button class="menu-button" md-raised-button>Repères</button>
  </div>
</md-toolbar>
