<div id="modal-login" style="display:none;" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <img src="app/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button (click)="login(username,password)">Login</button>
      <input type="checkbox"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" onclick="document.getElementById('modal-login').style.display='none'">
        Cancel
      </button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
