<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="column small-12 large-2">
  <select name="categories" [(ngModel)]="categories" >
    <option *ngFor="let categorie of categories" [ngValue]="categorie">
      {{categorie.nom}}
    </option>
  </select>
</div>


<p-fileUpload name="myfile[]" url="http://localhost:8088/upload" chooseLabel="Parcourir"
              uploadLabel="Upload"
              cancelLabel="Annuler"></p-fileUpload>



<div class="editor">
  <p-editor [(ngModel)]="text1" [style]="{'height':'400px'}"></p-editor>
</div>


<!-- <p>Value: {{text1||'empty'}}</p>
Pour afficher le texte : text1


<h3>Custom Toolbar</h3>
<p-editor [(ngModel)]="text2" [style]="{'height':'320px'}">
  <p-header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>
  </p-header>
</p-editor>
<p>Value: {{text2||'empty'}}</p>

<button pButton type="button" label="Clear" icon="fa-close" (click)="text2=null"></button> -->

