<p-messages [value]="msgs"></p-messages>
<div class="ui-grid ui-grid-responsive ui-fluid container">
  <div class="ui-grid-row">
    <div class="ui-grid-col-3">
      <div class="ui-grid-row">
        <p>Catégorie(s)</p>
      </div>
      <div class="ui-grid-row">
        <select name="categories" [(ngModel)]="selectedCategorie" (ngModelChange)="onChangeCategorie($event)">
          <option *ngFor="let categorie of categories" [ngValue]="categorie">
            {{categorie.nomcategorie}}
          </option>
        </select>
      </div>
      <div class="ui-grid-row" *ngIf="selectedCategorie">
        <select name="sous-categories" [(ngModel)]="selectedSousCategorie">
          <option *ngFor="let sousCategorie of selectedCategorie.sousCategorie" [ngValue]="sousCategorie" >
            {{sousCategorie.nomsouscategorie}}
          </option>
        </select>
      </div>
      <div class="ui-grid-row">
        <button pButton type="button" [disabled]="!selectedSousCategorie" (click)="addCategorie(selectedCategorie.nomcategorie, selectedSousCategorie.nomsouscategorie, selectedSousCategorie.idCatSousCat)" icon="fa-plus"></button>
      </div>

      <div class="ui-grid-row">
        <p>Étiquette(s)</p>
      </div>

      <div  class="ui-grid-row">
        <input #name />
      </div>

      <div class="ui-grid-row">
        <button pButton type="button" (click)="add(name.value);" icon="fa-plus"></button>
      </div>

      <div class="ui-grid-row">
        <p>Image à la une (683x384)</p>
      </div>
        <div class="ui-grid-row">
          <p-fileUpload name="myfile" url="http://localhost:8088/upload" chooseLabel="."
                        uploadLabel="." (onUpload)="image($event)"
                        cancelLabel="."></p-fileUpload>
        </div>

      <div *ngIf="this.article.imagealaune" class="ui-grid-row">
        <img class="imagealaune" src="{{this.article.imagealaune}}">
      </div>

      <div class="ui-grid-row">
        <p-checkbox label="Article principal" (ngModelChange)="booleantotinyint()" [(ngModel)]="temp.alaune" binary="true"></p-checkbox>
      </div>
    </div>

    <div class="ui-grid-col-6">
      <div class="ui-grid-row">
        <p>Ajouter un titre</p>
      </div>
      <div class="ui-grid-row">
        <input [(ngModel)]="article.titre" type="text" placeholder="Saisissez votre titre ici"/>
      </div>

      <div class="ui-grid-row">
        <p>Ajouter un résumé</p>
      </div>
      <div class="ui-grid-row">
        <input [(ngModel)]="article.resume" type="text" placeholder="Saisissez votre résumé ici"/>
      </div>

      <div class="ui-grid-row">
        <div class="editor">
          <p-editor [(ngModel)]="article.texte" [style]="{'height':'400px'}"></p-editor>
        </div>
      </div>
    </div>

    <div class="ui-grid-col-3">
      <p>Catégorie</p>
      <div class="ui-grid-row">
        <p-listbox [options]="listCategorieSousCategorie" [(ngModel)]="selectedCategorieSousCategorie" multiple="multiple" checkbox="checkbox"></p-listbox>
      </div>
      <button pButton type="button" (click)="deleteCategorie(selectedCategorieSousCategorie)" icon="fa-close"></button>

      <p>Étiquettes</p>
      <div class="ui-grid-row">
        <p-listbox [options]="ListEtiquette" [(ngModel)]="selectedEtiquettes" multiple="multiple" checkbox="checkbox"></p-listbox>
      </div>

      <div class="ui-grid-row">
        <button pButton type="button" [disabled]="!selectedEtiquettes" (click)="delete(selectedEtiquettes)" icon="fa-close"></button>
      </div>

    </div>
  </div>

  <div class="ui-grid-row">
    <button pButton type="button" label="Voir le visuel"></button>
    <button pButton type="button" (click)="callApi('brouillon')" label="Enregistrer"></button>
    <button pButton type="button" (click)="callApi('active')" label="Publier"></button>
  </div>
</div>

