.head{
  padding-bottom: 12% !important;
  background: lightpink;
}
.black{
  background: black;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.menu-button{
  margin-right: 1%;
}
.menu{
  > div {

  }
}
