.cell{
  float: left;
  display: block;

}
.one{
  width: 8.3333333333333%;
}
&.two{
  width: 16.6666666666667%;
}
&.tree{
  width: 25%;
}
&.four{
  width: 33.3333333333333%;
}
&.five{
  width: 41.6666666666667%;
}
.six{
  width: 50.00%;
}
.seven{
  width: 58.3333333333333%;
}
.eight{
  width: 66.6666666666667%;
}
.nine{
  width: 75%;
}
.ten{
  width: 83.33333333333333%;
}
.eleven{
  width: 91.66666666666666%;
}
.twelve{
  width: 100%;
}
.height-one {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 8.33333333%;
}
.height-two {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 16.66666667%;
}
.height-tree {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 25%;
}
.black{
  background: black;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.pink{
  background: pink;
}
.component-height{
  min-height: 200px ;
}
.timeline-height{
  min-height: 1000px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.mat-figure{
  align-items: start !important;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
