.centrer {
  position:relative;
  float:left;
  left:50%;
}
.wrapper{
  width: 100%;
  margin: 60px auto;
}

.centered{
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
