.cell{
  float: left;
  display: block;

}
.one{
  width: 8.3333333333333%;
}
&.two{
  width: 16.6666666666667%;
}
&.tree{
  width: 25%;
}
&.four{
  width: 33.3333333333333%;
}
&.five{
  width: 41.6666666666667%;
}
.six{
  width: 50.00%;
}
.seven{
  width: 58.3333333333333%;
}
.eight{
  width: 66.6666666666667%;
}
.nine{
  width: 75%;
}
.ten{
  width: 83.33333333333333%;
}
.eleven{
  width: 91.66666666666666%;
}
.twelve{
  width: 100%;
}
.height-one {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 8.33333333%;
}
.height-two {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 16.66666667%;
}
.height-tree {
  box-sizing: content-box;
  position: relative;
  height: 0px;
  padding-bottom: 25%;
}
.black{
  background: black;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.pink{
  background: pink;
}
.component-height{
  min-height: 200px ;
}
.timeline-height{
  min-height: 1000px;
}

* {box-sizing:border-box}

.head{
  padding: 10px;
  background: #2c3e50;
}

.menu-button{
  margin-right: 1%;
}
.menu div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2%;
}
.logo {   width: 220px; height: 30px; display: block; text-indent: -9999px;}

