<md-grid-list cols="5" rowHeight="fit" class="head">
  <md-grid-tile class="pink"
                [colspan]="1"
                [style.background]="black">
    <img class="logo" src="../app/images/logoo.jpg">

  </md-grid-tile>
  <md-grid-tile class="red"
                [colspan]="3"
                [style.background]="red">

  </md-grid-tile>
  <md-grid-tile class="blue"
                [colspan]="1"
                [style.background]="red">

    <a routerLink="/accueil" routerLinkActive="active">
      <md-icon>home</md-icon>
    </a>
    <a onclick="document.getElementById('modal-login').style.display='block'" class="btnlogin">
      <md-icon>lock_outline</md-icon>
    </a>

    <div class="form-group">
      <input type="search" class="input-sm form-control" placeholder="Recherche">
      <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher
      </button>
    </div>
  </md-grid-tile>
</md-grid-list>
<my-login></my-login>
<!-- COMPOSANT MENU ?-->
<router-outlet></router-outlet>

