<div class="ui-grid ui-grid-responsive ui-fluid head">
  <div class="ui-grid-row">
    <div class="ui-grid-col-3">
      <img class="logo" src="../app/images/logoo.jpg">
    </div>
    <div class="ui-grid-col-6">
    </div>
    <div class="ui-grid-col-1">
      <a routerLink="/accueil" routerLinkActive="active">
        <i class="material-icons">home</i>
      </a>
      <a onclick="document.getElementById('modal-login').style.display='block'" class="btnlogin">
        <i class="material-icons">lock</i>
      </a>
    </div>
    <div class="ui-grid-col-2">
      <input type="search" placeholder="Recherche" name="the_search">
    </div>
  </div>
</div>
<!-- COMPOSANT MENU ?-->
<router-outlet></router-outlet>

