<h1>Récapitulatif des articles</h1>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="container" id="conteneur1">
  <div class="row" id="row1">
    <div class="row"id ="head" >
      <div class="col-lg-10">
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
    <div class="row" id = milieu>
      <div class="col-lg-3">

        <input id ="auteur" type="text" name="fname" placeholder="Auteur ..."><br>
        <input id = "etiq" type="text" name="lname" placeholder="Etiquettes ..."><br>
        <input id="titre" type="text" name="lname" placeholder="Titre ..."><br>

      </div>
      <div class="col-lg-9">



        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Catégories</th>
            <th>Etiquettes</th>
            <th>Commentaires</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <fieldset class="form-group">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1"></label>
              </fieldset>
            </td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">sqs125</td>
            <td class="filterable-cell">dee</td>
            <td class="filterable-cell">2rer</td>
          </tr>
          <tr>
            <td>
              <fieldset class="form-group">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2"></label>
              </fieldset>
            </td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">Football Ligue</td>
            <td class="filterable-cell">sqs125</td>
            <td class="filterable-cell">dee</td>
            <td class="filterable-cell">2rer</td>
          </tr>


          </tbody>
        </table>




      </div>
    </div>
    <div class="row" id="foot">

      <button type="button" class="btn btn-primary">Supprimer</button>
      <button type="button" class="btn btn-primary">Modifier</button>

    </div>
  </div>
</div>
