<h1>Récapitulatif des articles</h1>



    <div class="container" id="conteneur1">
      <div class="row" id="row1">
        <div class="row"id ="head" >
          <div class="col-lg-10">
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-primary">Ajouter</button>
          </div>
        </div>
        <div class="row" id = milieu>
          <div class="col-lg-3">

            <input id ="auteur" type="text" name="fname" placeholder="Auteur ..."><br>
            <input id = "etiq" type="text" name="lname" placeholder="Etiquettes ..."><br>
            <input id="titre" type="text" name="lname" placeholder="Titre ..."><br>

          </div>
          <div class="col-lg-9">
            <p-dataTable [value]="articles">
              <p-column field="id" header="ID" sortable=true></p-column>
              <p-column field="idutilisateur" header="Idutilisateur"></p-column>
              <p-column field="url" header="Brand"></p-column>
              <p-column field="status" header="Color"></p-column>
            </p-dataTable>
          </div>
        </div>
    <div class="row" id="foot">

      <button type="button" class="btn btn-primary">Supprimer</button>
      <button type="button" class="btn btn-primary">Modifier</button>

    </div>
  </div>
</div>
